<p style="color: green"><%= notice %></p>
<table id="myTable" >
  <tr class="header">    
    <th>First_name</th>
    <th>Last_Name</th>    
    <th>email</th>
    <th colspan="3">Action</th>
  </tr>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>   
        <td><%= user.email %></td>
        <td>
          <% if Friend.where(receiver_id: user.id, sender_id: current_user.id).present? %>
            <%= link_to "Remove", delete_request_path(sender_id: current_user.id, receiver_id: user.id),class: "btn btn-outline-danger" %>
          <% else %>
            <%= link_to "Send request", add_friend_path(sender_id: current_user.id, receiver_id: user.id),class: "btn btn-outline-success " %>
           <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<style>
* {
  box-sizing: border-box;
}
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 70%;
  border-radius: 10px;
  font-size: 16px;
  padding: 12px 20px 8px 40px;
  border: 1px solid #ddd;
  margin-bottom: 14px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 16px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 5px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>
